<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pinkflix</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tv" routerLinkActive="active">TV</a>
      </li>
    </ul>
  </div>
</nav>