<div class="p-4">
  <h2>Movies</h2>

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-3">Popular right now</h4>
    <a>See all</a>
  </div>
  <app-media-list 
    [mediaListType]="'movie'" 
    [mediaCategory]="'popular'">
  </app-media-list>

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-3">Upcoming</h4>
    <a>See all</a>
  </div>
  <app-media-list 
    [mediaListType]="'movie'" 
    [mediaCategory]="'upcoming'">
  </app-media-list>

  <h2>TV</h2>

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-3">Popular right now</h4>
    <a>See all</a>
  </div>
  <app-media-list 
    [mediaListType]="'tv'" 
    [mediaCategory]="'popular'">
  </app-media-list>

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-3">Currently airing</h4>
    <a>See all</a>
  </div>
  <app-media-list 
    [mediaListType]="'tv'" 
    [mediaCategory]="'airing_today'">
  </app-media-list>
</div>