<div class="p-4">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-3">Top rated</h3>
    <a>See all</a>
  </div>
  <app-media-list [listType]="'movie'" [category]="'top_rated'"></app-media-list>

  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-3">Popular</h3>
    <a>See all</a>
  </div>
  <app-media-list [listType]="'movie'" [category]="'popular'"></app-media-list>

  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-3">Upcoming</h3>
    <a>See all</a>
  </div>
  <app-media-list [listType]="'movie'" [category]="'upcoming'"></app-media-list>
</div>